<div class="footer_wrapper">

    <div class="left">
        <div style="padding-bottom: 55px;" class="header">
            <h2 style="padding-bottom: 13px;">Get in Touch</h2>
            <p>I am UI UX designer by heart, but my personal and professional experiences have taught me to deepen into
            </p>
        </div>

        <div style="padding-bottom: 48px;" class="address">
            <h5>Address</h5>
            <p>gali no 12 andheri west, mumbai</p>

        </div>
        <div class="info">
            <h5>Information</h5>
            <p>xyzberoooo@gmail.com<br />
                ‍(+91) 9522236794</p>
        </div>
        <div class="social_media">
            <div class="sm_container">
                <img src="../../assets/insta.png" width="20px" />
                <img src="../../assets/fb.png" width="20px" />
                <img src="../../assets/lin.png" width="20px" />
            </div>
        </div>
    </div>
    <div class="right">
        <div class="form">
            <form>
                <input placeholder="Name" type="text" id="name" name="name"><br><br>

                <input placeholder="Mail" type="email" id="email" name="email"><br><br>

                <textarea placeholder="Message" id="message" name="message" rows="5"></textarea><br><br>

                <button placeholder="name" type="submit" value="Submit">Submit</button>
            </form>

        </div>
    </div>
</div>