<div class="position-relative" style="height: 100vh; width: 100vw;">
    <app-navbar></app-navbar>
    <div class="d-flex justify-content-center top_container">
        <div class="row">
            <div class="left_img col-6">
                <img src="../../assets/about_pic.jpg" width="513px" />
            </div>
            <div class="right_text col-5">
                <h1>Hi, I'm Poonam UI UX Designer </h1>
                <p>I'm a UI UX designer and a part-time Freelancer . I'm currently Working at Stepapp, working fulltime
                    at
                    Mumbai</p>
                <p>I love words that start with people, process, problem solving, paper sketches, prototyping,
                    programming,
                    polished design, pixel-perfect products, design system, UI animation, and Simulated Reality</p>
            </div>
        </div>
    </div>

    <div class="info row gap-4">
        <div class="d-flex justify-content-end col-6">
            <div class="left_info">
                <h1>My journey</h1>
                <h2>Education</h2>
                <div class="d-flex align-items-baseline gap-3">
                    <div class="bullet"></div>
                    <div class="">
                        <h5>Sandip University, Nashik</h5>
                        <p>B.Des in UI UX Design</p>
                    </div>
                </div>
                <h2 style="padding-top: 45px;">Experience</h2>
                <div class="d-flex align-items-baseline gap-3">
                    <div class="bullet"></div>
                    <div class="">
                        <h5>UI UX Designer</h5>
                        <p>Stepapp<br /> February 2023 to Present</p>
                    </div>
                </div>
                <div class="d-flex align-items-baseline gap-3">
                    <div class="bullet"></div>
                    <div class="">
                        <h5>UI UX Designer Intern</h5>
                        <p>Venture Lattice<br />
                            April 2022 to July</p>
                    </div>
                </div>
                <div class="d-flex align-items-baseline gap-3">
                    <div class="bullet"></div>
                    <div class="">
                        <h5>Freelancer</h5>
                        <p>2021 to Present</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="right_info">
                <h1>My journey</h1>
                <div class="d-flex align-items-baseline gap-3">
                    <div class="bullet"></div>
                    <div class="">
                        <h5>Sandip University, Nashik</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <app-footer></app-footer>
    </div>
</div>