<div class="position-relative" style="height: 100vh; width: 100vw;">
    <app-navbar></app-navbar>
    <div class="d-flex justify-content-center top_container">
        <div class="row" >
            <div class="left_img col-6">
                <img src="../../assets/about_pic.jpg" width="513px"  />
            </div>
            <div class="right_text col-5">
                <h1>Hi, I'm Poonam UI UX Designer </h1>
                <p>I'm a UI UX designer and a part-time Freelancer . I'm currently Working at Stepapp, working fulltime
                    at
                    Mumbai</p>
                <p>I love words that start with people, process, problem solving, paper sketches, prototyping,
                    programming,
                    polished design, pixel-perfect products, design system, UI animation, and Simulated Reality</p>
            </div>
        </div>
    </div>

    <div class="info"></div>
    <div>
        <app-footer></app-footer>
    </div>
</div>